# Exclude virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Version control files
.git/
.gitignore

# Docker-related files
Dockerfile
.dockerignore

# System-specific files
.DS_Store
Thumbs.db
